[Unit]
Description=Coinbase Bot
After=network.target

[Service]
User=ghw
Group=ghw
WorkingDirectory=/var/tradebot/coinbase
ExecStart=/var/tradebot/coinbase/Run.sh
StandardOutput=append:/var/tradebot/logs/log.txt
StandardError=inherit

[Install]
WantedBy=multi-user.target
